<% layout("layouts/boilerplate") %>



    <h1>Camp Details</h1>
    <img src="<%= result.image %>" alt="Campground Image">
    <h1>
        <%= result.title %>
    </h1>
    <p>
        <%= result.description %>
    </p>
    <h4>
        Price RS.<%= result.price %>
    </h4>
    <h2>
        <%= result.location %>
    </h2>

    <a href="/campgrounds" class="btn btn-success mb-3">Veiw all campgrounds</a> <br />
    <a href="/campgrounds/<%= result._id %>/edit" class="btn btn-primary mb-3">Edit campground</a>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" name="rating" id="rating" min="0" max="5" class="form-range">
    </div>
    <form action="/campgrounds/<%=result.id %>/reviews" method="POST">
        <label for="review" class="form-label">Review</label>
        <textarea name="body" id="review" cols="30" rows="10" class="form-control"></textarea>
    </form>

    <form action="/campgrounds/<%= result._id %>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete Campground</button>
    </form>